/* Page styling */
body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%
}

#topnav {
  background-color: #2b2b2b;
}

#contact {
  background-color: #2b2b2b;
  color: #FFFFFF;
}

/* Headings */
h1, h2, h3 {
  line-height: 1.2;
  font-weight: 500;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

/* Links */
a {
  color: #4096FF;
  text-decoration: none;
}

a:visited {
  color: #4096FF;
}

a:hover,
a:focus {
  color: #9E99FF;
}

a:active {
  color: #9E99FF;
}

.button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #4096FF;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s;
}

.button:hover {
  background-color: #9E99FF;
}

.button:active {
  background-color: #9E99FF;
}

/* Figure out the button, experiment with line spacing and text weights, logo image.
Anything else to do with links?
*/
